body{
    background-image: url(assets/background_texture.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    background-attachment: fixed;
}
.contentWrapper{
    margin: 0 auto;
    max-width: auto;
    padding: 0 3.0em;
}
button{
    background-color: darkred;
    border: white 1px solid;
    width: 10em;
    margin-bottom: 2em;
    color: white;
    font-weight: bold;
    box-shadow: black 0 0 2em;
    margin-top: 5em;
    border-radius: 5px;
}
button:hover{
    background-color: white;
    color: crimson;
}
/*Header*/
.header{
    padding: 2.5em 0 0.5em;
    background-image: url(assets/pizza_background.jpg);
    margin: 0 0 2.0em;
    background-color: darkred;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: black 0 0 20px;
}
.header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
    text-shadow: darkred 0px 0px 50px;
}


/*Login Bar/Cart/Socials*/
nav#utilityMenu{
    float: right;
    margin: -1.5em 0 0 0;
    padding: 0.35em;
    background-color: darkred;
    padding: 2px;
    text-align: center;
}

#loginBar{
    list-style-type: none;
    margin: .5em;
    padding-right: 2em;
}
nav li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

}
#login_cart{
    position: relative;
    float: right;
    margin-top: -1em;
    box-shadow: black 0 0 10px;
}
ul#loginBar li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
}
ul#loginBar li a:hover.active{
    background-color: white;
    color: crimson;
    height: fit-content;
    box-shadow: black 0 0 20px;
}
/*Nav Bar*/
.navBar{
    display: flex;
    justify-content: center;
    background-color: darkred;
    width: 1000px;
    margin: 5px;
    padding-top: .1em;
    padding-bottom: .1em;
    z-index: 1;
    box-shadow: black 0 0 20px;
}
.navBar ul li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 3em;
    padding-left: 3em;
    text-decoration: none;
    display: flex;
}
.navBar ul li a:hover{
    background-color: white;
    color: crimson;
    box-shadow: black 0 0 20px;
}
/*Main Content*/
section#main{
    width: 75%;
    float: right;
    height: fit-content;
    color: white;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkred;
    margin-right: 5%;
    background-image: linear-gradient(rgb(65, 0, 0), darkred);
    border-radius: 20px;
}
section#main h1{
    text-align: center;
    margin-right: auto;
}
.panel img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin-top: 1em;
}
.panel {
    width: 18%;
    height: fit-content;
    text-align: center;
    margin: 1em;
    position: relative;
    display: inline-block;
    background-color: rgb(29, 29, 29);
    padding-right: 1em;
    padding-left: 1em;
    box-shadow: black 0 0 20px;
    border-radius: 5px;
    margin-left: 8.5%;
    margin-bottom: 5%;

}
section#main .panel p{
    text-align: left;
}
/*Sidebar*/
section#sidebar{
    width: 238px;
    float: left;
    position: relative;
    display: block;
    background-image: linear-gradient(rgb(65, 0, 0), darkred);
    margin: 0 1em 3.0em 1.5em;
    padding: 1em 1em 2.0em 1.7em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: black 0 0 20px;
}

section#sidebar h1{
    text-align: center;
    color: white;
    background-color: rgb(61, 0, 0);
    background-size: 10em 2em;
    margin-right: .5em;
}
section#sidebar p{
    color: white;
    background-color: darkred;
    box-shadow: black inset 0 0 20px;
    padding: 1em;
    margin-right: 1em;
}
/*Footer*/
footer{
    background-image: linear-gradient(rgb(65, 0, 0), darkred);
    height: 5em;
    width: 100%;
    text-align: center;
    box-shadow: black 0 0 3em;
    margin-top: 100%;
}
footer ul#menuFooter{
    list-style-type: none;
}
footer ul#menuFooter li a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 5em;
    padding-right: 5em;
    text-decoration: none;
}
footer h5{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#menuFooter li{
    position: relative;
    display: inline;
    vertical-align: middle;
}

#menuFooter li a:hover{
    background-color: white;
    color: crimson;
    box-shadow: black 0 0 20px;
}